flows.json
[{"id":"cf8cbb15.ae7f78","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"45b39fef.1dc92","type":"template","z":"cf8cbb15.ae7f78","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <style>{{{payload.css}}}</style>\n<header>\n  <h2>Research animal trade</h2>\n</header>\n<section>\n\n  \n  <article>\n\n\n        <h1>Research</h1>\n \n    \n            <input type=\"text\" style=\"background-color:#96d888;\" id=\"mySearch\" placeholder=\"Search..\" title=\"Type in a category\">\n            <select>\n              \n\n            <option value=\"dollar\">$</option>\n            <option value=\"euro\">€</option>\n            </select>\n            <button type=\"button\" onclick=\"\">Click Me!</button>\n<br>\n<br>\n  <div class=\"center\">{{{payload}}}</div> \n\n  </article>\n\n\n</section>\n           \t\t<footer>\n  <p>Team Korkeasaari</p>\n</footer>\n\n\n  \n\t\t</html>","output":"str","x":730,"y":120,"wires":[["7321176f.522f88","e2ce8c9e.4a6da"]]},{"id":"b42e4bf7.519b48","type":"http in","z":"cf8cbb15.ae7f78","name":"","url":"/korkeasaari","method":"get","upload":false,"swaggerDoc":"","x":180,"y":120,"wires":[["59d80f47.6d583"]]},{"id":"59d80f47.6d583","type":"http request","z":"cf8cbb15.ae7f78","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.terraristik.com/tb/list_classifieds_int.php?ftsearch=iguana","tls":"","persist":false,"proxy":"","authType":"","x":371,"y":120,"wires":[["b2e6a6a.049a058"]]},{"id":"b2e6a6a.049a058","type":"cheerio-function","z":"cf8cbb15.ae7f78","name":"","func":"msg.payload=$(\".inserat inserat-offer&&\"&&\".inserat1\").each(function(i, item){\n  $(item).find(\"<p>\").toString();\n});\nreturn msg;\n\n","outputs":1,"noerr":0,"x":561,"y":120,"wires":[["ba379991.6075c8","cb3d92c7.c4791"]]},{"id":"7321176f.522f88","type":"http response","z":"cf8cbb15.ae7f78","name":"","statusCode":"","headers":{},"x":870,"y":120,"wires":[]},{"id":"ba379991.6075c8","type":"debug","z":"cf8cbb15.ae7f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":40,"wires":[]},{"id":"e2ce8c9e.4a6da","type":"debug","z":"cf8cbb15.ae7f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":220,"wires":[]},{"id":"cb3d92c7.c4791","type":"template","z":"cf8cbb15.ae7f78","name":"CSS","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"\n.inserat1 {\n    margin: auto auto auto 6px;\n    /* border: 1px none #FF6600; */\n    background: #efefde fixed;\n    font-family: Arial, Helvetica, sans-serif;\n    width: 365px;\n    /* height: auto; */\n    overflow: hidden;\n    /* white-space: nowrap; */\n    font-size: 13px;\n\n}\n\n\n.div {\n    display: block;\n}\n*, ::after, ::before {\n    box-sizing: border-box;\n}\n*, ::after, ::before {\n    box-sizing: border-box;\n}\n/* Create two equal columns that floats next to each other */\n.column {\n  float: left;\n  width: 50%;\n  padding: 10px;\n  height: 300px; /* Should be removed. Only for demonstration */\n}\nheader {\n  background-color: #96d888;\n  padding: 30px;\n  text-align: center;\n  font-size: 35px;\n  color: white;\n}\nfooter {\n  background-color: #5f8a56;\n  padding: 10px;\n  text-align: center;\n  color: black;\n  float: left;\n  padding: 20px;\n  width: 100%;\n}\n\n\n/* Style the list inside the menu */\nnav ul {\n  list-style-type: none;\n  padding: 0;\n}\n\narticle {\n  float: left;\n  padding: 20px;\n  width: 100%;\n  background-color: #ecf7f5;\n  text-align:center;\n}\n\n/* Clear floats after the columns */\nsection:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n.center {\n  margin: auto;\n  width: 60%;\n  border: 3px solid #73AD21;\n  padding: 10px;\n}\n/* Clear floats after the columns */\n.row:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}","output":"str","x":650,"y":240,"wires":[["45b39fef.1dc92"]]}]